<template>
  <div class="home">
    <VideoList/>
  </div>
</template>

<script>
// @ is an alias to /src
import VideoList from '@/components/VideoList.vue';

export default {
  name: 'home',
  components: {
    VideoList,
  },
};
</script>
