<template>
  <div class="player">
    <VideoPlayer />
  </div>
</template>
<script>
import VideoPlayer from '@/components/VideoPlayer.vue';

export default {
  components: {
    VideoPlayer,
  },
};
</script>
<style lang="scss" scoped>
.player {
  padding: 48px 57px 151px 59px;
}
</style>

