<template>
  <div class="video-player">
  <div class="video-player__container">
    <div class="video-player__frame-container">
    <iframe width="100%" height="auto" :src="videoSrc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="video-player__info-container">
      <p class="video-player__title">{{ video.snippet.title }}</p>
        <p class="video-player__publish-date">Publshed on {{ formattedDate }}</p>
      <p class="video-player__description"> {{ video.snippet.description }}</p>
      <a class="video-player__navigation-link" @click="backToVideoList()" href="#">
        <img src="@/assets/images/back_arrow.png" alt="">
        Back to list
        </a>
    </div>
  </div>
</div>
</template>
<script>
import { mapGetters } from 'vuex';
import { GETTER_SELECTED_VIDEO } from '@/constants/storeConstants';
import DateUtils from '@/utils/DatesUtil';

export default {
  name: 'video-player',
  data() {
    return {
      baseViewUrl: 'https://www.youtube.com/embed/',
    };
  },

  computed: {
    ...mapGetters({
      video: GETTER_SELECTED_VIDEO,
    }),
    videoSrc() {
      return this.baseViewUrl + this.video.contentDetails.videoId;
    },
    formattedDate() {
      return DateUtils.formatDate(this.video.contentDetails.videoPublishedAt);
    },
  },

  methods: {
    backToVideoList() {
      this.$router.back();
    },
  },
};
</script>
<style lang="scss" scoped>
.video-player {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;

    @media screen  and (max-width: 768px){
      flex-wrap: wrap;
    }
  }
  &__frame-container {
    max-width: 597px;
    min-width: 285px;
    min-height: 160px;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 19%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    color: #50e3c2;
  }
  &__description {
    width: 285px;
    text-align: left;
    color: #878787;
    font-size: 12px;
  }
  &__info-container {
    margin-left: 26px;
    text-align: left;

    @media screen  and (max-width: 768px){
      width: 100%;
      margin: 0;
    }
  }
  &__publish-date {
    color: #cacaca;
    font-size: 13px;
  }
  &__navigation-link {
    text-decoration: none;
    font-size: 13px;
    color: #50e3c2;

    img {
      vertical-align: text-top;
      margin-right: 12px;
    }
  }
}
</style>

