<template>
<div class="video-thumbnail">
  <div class="video-thumbnail__image" @click="playVideo(video)">
    <img :src="video.snippet.thumbnails.medium.url" alt="">
    <div class="video-thumbnail__title-container">
      <p class="video-thumbnail__title">{{ video.snippet.title }}</p>
      <img class="video-thumbnail__play-icon" src="@/assets/images/play_button.svg" alt="">
    </div>
  </div>
  <p class="video-thumbnail__publish-date">Publshed on {{ formattedDate }}</p>
  <p class="video-thumbnail__description"> {{ video.snippet.description }}</p>
</div>
</template>
<script>
import { MUTATION_SELECTED_VIDEO } from '@/constants/storeConstants';
import DateUtils from '@/utils/DatesUtil';

export default {
  name: 'video-thumbnail',
  props: ['video'],
  computed: {
    formattedDate() {
      return DateUtils.formatDate(this.video.contentDetails.videoPublishedAt);
    },
  },
  methods: {
    playVideo(video) {
      this.$store.commit(MUTATION_SELECTED_VIDEO, video);

      this.$router.push('video');
    },
  },
};
</script>
<style lang="scss" scoped>
.video-thumbnail {
    font-family: Helvetica;
    color: #50e3c2;
    font-size: 16px;
    text-align: left;
    margin-bottom: 39px;

  &__image {
    position: relative;

    :hover {
      cursor: pointer;
    }
  }

  &__title-container {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    background-color: #0000007a;
    width: 100%;
    text-align: left;
    padding: 0 12px;

    :hover {
      cursor: pointer;
    }
  }

  &__title {
    display: inline-block;
    width: 189px;
    margin-right: 43px;
    line-height: 22px;
  }

  &__play-icon {
    width: 28px;
    height: 28px;
    vertical-align: sub;
  }

  &__publish-date {
    color: #CACACA;
    font-size: 13px;
  }

  &__description{
    font-size: 12px;
    color: #878787;
    // height: 70px;
    // overflow: hidden;
    height: auto;
    overflow: hidden;
    max-height: 70px;
  }
}

img {
  width: 100%;
  max-width: 285px;
  max-height: 160px;
}
</style>

