<template>
    <div class="container">
        <div v-for="video in videoList"
            :key="video.contentDetails.videoId"
            class="container__item">
            <video-thumbnail :video="video"/>
        </div>
    </div>
</template>
<script>
import VideoStore from '@/store.js';
import VideoThumbnail from '@/components/VideoThumbnail.vue';
import {
  GETTER_VIDEO_LIST_DATA,
  ACTION_GET_VIDEO_LIST,
} from '../constants/storeConstants';
import { mapGetters } from 'vuex';

export default {
  name: 'video-list',
  components: {
    [VideoThumbnail.name]: VideoThumbnail,
  },
  props: [],
  computed: {
    ...mapGetters({
      videoList: GETTER_VIDEO_LIST_DATA,
    }),
  },
  created() {
    this.$store.dispatch(ACTION_GET_VIDEO_LIST);
  },
};
</script>
<style lang="scss" scoped>
.container {
  max-width: 1024px;
  margin: 48px 43px;
  display: flex;
  flex-wrap: wrap;

  &::after {
    content: "";
    width: 312px;
  }

  &__item {
    flex: 1 1 auto;
    max-width: 285px;
    margin: 0 13.5px;
  }
}
</style>

