<template>
  <div id="app">
    <div id="nav"></div>
    <img src='@/assets/images/MusicPlay_logo.png' class="logo">
    <router-view/>
  </div>
</template>

<style lang="scss">
body {
    background-color: black;
    margin: 0;
}
#app {
  background-image: url("../src/assets/images/main_bg.png");
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;

  .logo {
    position: absolute;
    top: 14px;
    left: 59px;
    width: 203px;
  }
}
#nav {
  background-image: url("../src/assets/images/header_bg.png");
  height: 40px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>

